<!-- components/header/header.html -->
<header class="main-header">
  <div class="header-content">
    <div class="logo">
      <div class="logo-text">
        <h1>Muñecos Icónicos</h1>
        <p>Adriana Moreno</p>
      </div>
    </div>
    
    <nav class="main-nav">
      <a routerLink="/" class="nav-link">Inicio</a>
      <a routerLink="/nosotros" class="nav-link">Nosotros</a>
      <a routerLink="/productos" class="nav-link">Productos</a>
      <a routerLink="/contacto" class="nav-link">Contacto</a>
    </nav>
  </div>
</header>